.width-100 {
  width: 100%
}
.ant-modal-header {
  background: #3f51b5
}
.ant-modal-title {
  color: #fff
}
.ant-modal-close,
.ant-modal-close:hover {
  color: #fff
}
.assigned {
  color: green;
  font-weight: 500
}
.color-blue {
  color: blue;
  font-size: 15px;
  cursor: pointer;
}
